<div class="container mt-5">
  <div class="banner text-center">
    <div class="container">
      <h1><strong>Edit your booking</strong></h1>
    </div>
  </div>

  <%= simple_form_for @booking, html: { class: "card p-4 shadow-sm rounded-5 my-4" } do |f| %>
    <div class="mb-3">
      <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker" } } %>
    </div>

    <div class="mb-3">
      <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker" } } %>
    </div>

    <div class="mb-3">
      <%= f.input :status, as: :select, collection: ['pending', 'accepted', 'declined', 'cancelled'], label: "Status", input_html: { class: "form-select" } %>
    </div>

    <div class="text-center">
      <%= f.button :submit, "Update Booking", class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
