<div class="container text-center">
  <h1>DeskBnB</h1>
  <h2>Book - Study - Work</h2>
</div>

<%# geocoding %>
<div
  id='map'
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-markers-value="<%= @markers.to_json %>"
  style='width: 80%; height: 500px;'>
</div>

<div class="container text-center py-5">
  <div class="row row-cols-3">
    <% @desks.each do |desk| %>
      <div class="col">
        <h3><%= desk.title %></h3>
        <p>location: <%= desk.address %> - price per hour: <%= desk.price_per_hour %> € </p>
        <p><%= link_to "See the desk in details", desk_path(desk) %></p>
        </div>
    <% end %>
  </div>
</div>

<div class="container text-center py-5">
  <p><%= link_to "Create a new desk", new_desk_path %></p>
</div>
