<h1>My Desks</h1>

<% if @desks.any? %>
  <ul>
    <% @desks.each do |desk| %>
      <li>
        <strong><%= link_to desk.title, desk_path(desk) %></strong><br>
        Location: <%= desk.address %><br>
        Price per hour: <%= desk.price_per_hour %> €<br>
        <%= link_to "Delete", desk_path(desk), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't listed any desks yet.</p>
  <%= link_to "Add a new desk", new_desk_path %>
<% end %>
