<div class="container-fluid px-0">

  <!-- Banner -->
  <div class="banner text-center">
    <div class="container my-4">
      <h1><strong>List your Desk</strong></h1>
    </div>
  </div>

  <div class="p-4 bg-light min-vh-100">

    <!-- Desk Creation Form -->
    <div class="booking-form p-4 border rounded-5 shadow-sm bg-white mb-4">
      <div class="row row-cols-1 g-3">
        <%= simple_form_for @desk do |f| %>

          <div class="form-group">
            <%= f.input :title %>
          </div>

          <div class="form-group">
            <%= f.input :description %>
          </div>

          <div class="form-group">
            <%= f.input :price_per_hour %>
          </div>

          <div class="form-group geocoder-wrapper">
            <%= f.input :address,
              input_html: {
                data: { address_autocomplete_target: "address" },
                class: "d-none"
              },
              wrapper_html: {
                data: {
                  controller: "address-autocomplete",
                  address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
                }
              }
            %>
          </div>
          <div class="form-group">
            <%= f.input :photo, as: :file, label: "Desk Photo" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Create Desk", class: "btn btn-flat" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
