<h1> Name: <%= @desk.title %></h1>

<p> Description: <%= @desk.description %></p>

<p> Location: <%= @desk.address %></p>

<p> Price per hour: <%= @desk.price_per_hour %> €</p>

<p> Host: <%= @desk.user.name %></p>

<h2>Book this desk</h2>

<%= simple_form_for [@desk, @booking] do |f| %>
  <div>
    <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>

  <div>
    <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>

  <div>
    <%= f.button :submit, "Book now" %>
  </div>
<% end %>

<p><%= link_to "back to all desks", desks_path %></p>

<p> All Reviews:</p>
<ul>
  <% @desk.reviews.each do |review| %>
    <li>
      "<%= review.comment %>" /
      rating: <%= "⭐" * review.rating %>
      name of the reviewer: <%= review.user.name %>
      <%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Review", new_desk_review_path(@desk) %>

<% if flash[:alert] %>
  <div class="alert"> <%= flash[:alert] %> </div>
<% end %>
