<h1> Name: <%= @desk.title %></h1>

<p> Description: <%= @desk.description %></p>

<p> Location: <%= @desk.address %></p>

<p> Price per hour: <%= @desk.price_per_hour %> €</p>

<p> Host: <%= @desk.user.name %></p>

<p><%= link_to "back to all desks", desks_path %></p>
